<div class="container" ng-init = "vm.init()"></div>

    <div ng-if="vm.erro">
        <div class="container">
            <alert-para-usuario msg = "'A conexão com o banco de dados falhou!'" tipo="'erro'"></alert-para-usuario>
        </div>
    </div>

    <label for="exampleDataList" class="form-label" style="margin-top: 10px;">Filtro de pesquisa</label>
    <input class="form-control" list="datalistOptions" ng-model="vm.filtroPesquisa" id="exampleDataList" placeholder="Filtrar...">

    <table class="table" ng-if="vm.clientes" style="margin-top: 10px;">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nome</th>
                <th scope="col">RG</th>
                <th scope="col">Editar</th>
                <th scope="col">Excluir</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="cliente in vm.clientes | filter : vm.filtroPesquisa">
                <th scope="row">{{cliente.id}}</th>
                <td>{{cliente.nome}}</td>
                <td>{{cliente.rg}}</td>
                <td><button type="button" class="btn btn-outline-warning" ng-click="vm.editar(cliente.id)">Editar</button></td>
                <td><button type="button" class="btn btn-outline-danger" ng-click="vm.excluir(cliente.id)">Excluir</button></td>
            </tr>
        </tbody>
    </table>
</div>